s3:
    key: secret
    secret: secret
    version: latest
    region: ap-southeast-1
    bucket: secret

databases:
    db1:
        host: 127.0.0.1
        user: user
        password: "secret"
        database: db
        ignore_table:
            - table1
            - table2
    db2:
        host: 127.0.0.1
        user: user
        password: "secret"
        database: db
        ignore_table:
            - table1
            - table2
